asyncpg == 0.30.0
fastapi == 0.115.12
greenlet == 3.1.1
langchain-community == 0.3.20
langchain-core == 0.3.63
langchain-ollama == 0.3.0
langchain-openai == 0.3.18
langchain-postgres == 0.0.13
langchain-qwq-modification == 0.1.0
loguru==0.7.3
psycopg-binary == 3.2.4
psycopg2-binary == 2.9.10
python-multipart == 0.0.20
redis == 5.2.1
sqlalchemy == 2.0.40
sse-starlette == 2.3.5
uvicorn == 0.34.0
